* {
    border: none;
    border-radius: 4px;
    font-family: "HackGen Console NF";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(50, 50, 50, 0.9);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #e5e9f0;
    border-radius: 0;
}

#workspaces button {
    padding: 0 0.4em;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #4c566a;
    border-bottom: 3px solid #e5e9f0;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 6px 3px;
    color: #333333;
    background-color: #bbccdd;
}

@keyframes blink {
    to {
        /*background-color: #ffffff;*/
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: #f53c3c;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #f53c3c;
    color: #000000;
}

#custom-media {
    background: #66cc99;
    color: #2a5c45;
}

.custom-spotify {
    background: #66cc99;
}

.custom-vlc {
    background: #ffa000;
}

#temperature {
    background: #f0932b;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    /*background-color: #2980b9;*/
    color: #e5e9f0;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
